* {
    font-family: Helvetica;
}
body {
    background-color: rgb(203, 158, 245);
}


h1 {
    text-align: center;
    color: darkblue;
    background-color: yellow;
    border: 6px solid blue;
    border-radius: 20px;
    font-size: 40px;
    margin: 50px;
    padding: 20px;
}

h2 {
    font-size: 30px;
    margin: 15px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

#products-pics {
    display: inline-block;
}

img {
    border: 6px solid blue;
    background-color: yellow;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    padding: 50px;
    margin-top: 100px;
    margin-left: 100px;
}